extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 7
  - var pageName = 'Buttons'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  // Buttons
  section.section-xl.bg-default.text-center
    .container
      .group-lg
        .button.button-primary See Features
        .button.button-black Buy template
        .button.button-gray-light-outline Buy template!
        .button.button-link read more
  ='\n'

  // Buttons
  section.section-xl.bg-accent.text-center
    .container
      .group-lg
        .button.button-gray-light-outline View now!
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

