extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-material-parallax
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-pricing-table

block variables
  - var activeIndex = 2
  - var pageName = 'Single Service Page'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.text-center
    +material-parallax({
        "src": "images/parallax-05.jpg",
        "class": 'parallax-header rd-parallax-light'
    })
      .parallax-header__inner: .parallax-header__content
        .container
          .row.justify-content-sm-center
            .col-md-10.col-xl-8
              h2 Bootstrap Framework


  section.section-lg.bg-default.text-center
    .container
      .row.row-50.justify-content-sm-center
        .col-md-10
          h5 More plug-ins for better functionality
          p Monstroid supports a huge list of plugins developed both by Templatemonster.com and 3rd party developers. Create events, make schedules, book appointments, build restaurant menus, run community, start your features rich online shop and do so many other things with Monstroid#[sup 2] plugins pack.
        .col-md-10
          h5 Multiple skins & predesigned pages
          p As Bootstrap offers a lot of possibilities to customize and change your website according to your own wishes, we designed a number of pages, which we hope you will like. They contain everything a modern website owner needs, from store and checkout pages to personal or corporate blog as well as pages to publish some important information about your company.

  section.section-xl.bg-default
    .container
      .row.row-50
        .col-md-6.col-xl-3
          +pricing-table({
              title: 'Starter',
              price: '$14.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .col-md-6.col-xl-3
          +pricing-table({
              class: 'pricing-table-label',
              label: 'most popular',
              title: 'Standard',
              price: '$32.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .col-md-6.col-xl-3
          +pricing-table({
              title: 'Business',
              price: '$76.89 '
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .col-md-6.col-xl-3
          +pricing-table({
              title: 'Professional',
              price: '$89.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

  section.bg-accent.section-lg
    .container
      .row
        .col-md-4
          h3 Haven’t found what you like? Browse our other demos
        .col-md-8
          p  Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business, Education and Design.
          a(href='#' ).button.button-gray-light-outline View now!

  section.section-lg.bg-default 
    .container
      .row.row-60
        .col-md-6.col-xl-4
          +thumbnail-classic({
              img: 'services-1-418x315',
              title: 'Bootstrap Framework',
              link: "#",
              text: 'Monstroid² is based on Bootstrap Framework, which makes it a nice template for any purpose. '
          })
        .col-md-6.col-xl-4
          +thumbnail-classic({
              img: 'services-2-418x315',
              title: 'Novi Builder',
              link: "#",
              text: 'Use our Novi Builder to customize and update your website within seconds.'
          })
        .col-md-6.col-xl-4
          +thumbnail-classic({
              img: 'services-3-418x315',
              title: 'Responsive & Retina Ready',
              link: "#",
              text: 'Monstroid² looks great on any screen resolution and on any device due to its responsiveness.'
          })


  // Page Footer
  include ../sections/_footer-corporate

