//- parallax - RD Parallax object

mixin material-parallax(parallax)
  // RD Parallax
  .parallax-container.bg-image( class=parallax.class, data-parallax-img=parallax.src)
    .parallax-content
      block 