section.bg-image.bg-image-2
  .container
    .row.align-items-lg-start
      .col-md-8.col-lg-6
        .section-xxl
          h2 Like What We Offer?
          p Start with this demo now or check out the others to choose what you need.
          a(href='index.html').button.button-primary View now!

='\n'