section.text-left.section-xxl.fullwidth-page.fullwidth-page_mod-1.bg-image-2
  .container
    .row.row-50.justify-content-center.justify-content-xl-between
      .col-md-10.col-lg-6.col-xl-5
        h1 Monstroid²
        p Monstroid² boasts clean and crispy design, bulletproof layout consistence and intuitive navigation.
        .group-lg.group-middle
          a.button.button-black(href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
          a.button.button-primary(href=getTemplateLink) Buy template

      .col-md-10.col-lg-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/hhF-oZbI0lk" )

='\n'