section.text-center
  .row.no-gutters
    .col-lg-6.bg-accent.section-xxl.fullwidth-page.fullwidth-page_mod-1
        .col-12
          h2 Built by geeks
          h5.text-width-2.block-centered Monstroid#[sup 2] aims to satisfy real needs of real projects. We've got a pack of tools for that.
          .group-lg.group-middle
            a.button.button-black(href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
            a.button.button-primary(href=getTemplateLink) Buy template

    .col-lg-6.section-xxl.bg-image.fullwidth-page.fullwidth-page_mod-1(style='background-image: url(images/slider-slide-3-1920x980.jpg)')


='\n'