section.text-center
  .row.no-gutters
    .col-lg-6.cat-wrap.bg-accent
      .cat-mod-1
        h3 Novi Builder
        p This template comes with built-in Novi Builder. With its help you can quickly build custom HTML websites of any kind, and use our VIDE technology to accelerate your development and reduce QA time. It will provide you with lots of advantages.
        a(href='#').button.button-gray-light-outline Read more

    .col-lg-6.bg-image.bg-image-3.cat-wrap
      .cat-mod-1
        h3 100% Satisfaction Guaranteed
        p You will be completely happy with our products and services. If not, we are ready to offer 100% money back during 30 days from the purchase date. No questions asked. 
        a(href='#').button.button-primary Read more
='\n'