include ../elements/_ui-material-parallax
section.bg-gray-dark.text-center
  +material-parallax({
    "src": "images/slider-slide-5-1920x1080.jpg",
    "class": 'rd-parallax-light'
  })
    .section-xxl.fullwidth-page.fullwidth-page_mod-1.text-center
      .container
        // Text Rotator
        h2
          | Monstroid #[sup 2]
          span.text-rotator(data-text-class='text-accent font-accent', data-enable='1200', data-words=' flexible,ready to use, customizable', data-rotate-interval='3000', data-rotate-animation='fadeInUp, fadeOutUp')
            span.rotate-area
        h5.text-width-2.block-centered Monstroid#[sup 2] aims to satisfy real needs of real projects. We've got a pack of tools for that.
        .group-lg.group-middle
          a.button.button-black(href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
          a.button.button-primary(href=getTemplateLink) Buy template
='\n'