section.bg-accent
  .container
    .row.justify-content-md-center.align-items-lg-end
      .col-md-8.col-lg-6.section-xl
        h3 Haven’t Found What You Like? Browse Our Other Demos
        p Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business, Education and Design.
        a(href='#' ).button.button-gray-light-outline View now!

      .col-md-8.col-lg-6
        .cat-img-group
          div
            +jpg('cat-2-507x508','')
          div
            +jpg('cat-1-326x427','')
='\n'