include ../elements/_ui-material-parallax
section.bg-gray-dark.text-center
  +material-parallax({ 
    "src": "images/parallax-01.jpg",
    "class": 'rd-parallax-light'
  })
    .container.section-xxl
      h2 Like What We Offer?
      p Start with this demo now or check out the others to choose what you need.
      a(href='#').button.button-primary View now!
='\n'