include ../elements/_ui-material-parallax
section
  +material-parallax({
    "src": "images/parallax-02.jpg",
    "class": 'rd-parallax-light'
  })
    .container.section-xl
      .row.justify-content-sm-center.justify-content-lg-end
        .col-sm-10.col-md-7.col-lg-6
          h3 Haven’t Found What You Like? Browse Our Other Demos
          p Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business, Education and Design.
          a(href='index.html').button.button-primary View now!
='\n'