section.bg-accent.section-lg
  .container
    .row
      .col-md-4
        h3 Haven’t Found What You Like? Browse Our Other Demos
      .col-md-8
        p Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business and Design.
        a(href='#' ).button.button-gray-light-outline View now!
='\n'